# ================================================
# Template — Copier en .env et modifier les valeurs
# NE PAS COMMITTER .env SUR GITHUB
# ================================================

MYSQL_ROOT_PASSWORD=votre_mot_de_passe_root
MYSQL_DATABASE=glpidb
MYSQL_USER=glpiuser
MYSQL_PASSWORD=votre_mot_de_passe_glpi
GLPI_PORT=80