# ================================================
# Template — Copier en .env et modifier les valeurs
# NE PAS COMMITTER .env SUR GITHUB
# ================================================

MYSQL_ROOT_PASSWORD=glpi
MYSQL_DATABASE=glpi
MYSQL_USER=glpi
MYSQL_PASSWORD=glpi
GLPI_PORT=80